html, body {
    height: 100%;
    margin: 0;
    font: 0.75em/1.75em 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #f2f2f2;
}
.container {
    max-width: 960px;
    min-width: 760px;
    width: 65%;
    margin: 0 auto;
    padding: 1em;
}
.main_left {
    height: 100%;
    width: 25%;
    background: rgb(173,195,192);
    position: fixed;
    left:0;
    bottom: 0;
}
.main_left h1, .main_left p {
    color: rgb(243,244,246);
    text-align: center;
}
.main_left h1 {
    font-size:30px;
    margin: 1.2em 0;
}
.main_left p {
    font-size:15px;
    line-height: 35px;
}
.main_left a {
    color: rgb(243,244,246);
    text-decoration: none;
}
.main_right {
    left: 25%;
    width: 75%;
    right: 0;
    position: absolute;
}
.catalog {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.entry {
   margin: 10px 20px;
}
.entry p {
    font-size: 16px;
    line-height: 2;
}
.entry h2 {
    display: inline-block;
    width: calc(100%-80px);
    margin-left: 80px;
    text-align:center;
}
.entry li {
    list-style-type: disc;
    margin: auto;
}
.prettyprint {
    word-wrap: break-word;
    margin: 0 auto;
    overflow: auto;
    /*font-family: consolas;*/
}
.pages {
    margin: 15px 15px 15px;
    text-align: center;
    color: rgb(243,244,246);
}
.pages li {
    display: inline;
    margin: 0 4px;
}
.pages li a, .pages li span {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 3px 10px;
}
.social {
    margin-left:10%;
    width: 80%;
}
.social img {
    height:30px;
    width:30px;
    margin-left:10px;
    margin-right:10px;
}
.avatar {
    float: left;
    width:60px;
    height:60px;
    margin-top: -10px;
}
.avatarmain {
    width:40%;
    margin-top: 40%;
    margin-left: 30%;
}
.selected {
    color: rgb(207,88,117);
}
.article_date p {
    color: rgb(173,195,192);
}

.title {
    color: rgb(0,0,0);
    font-size: 32px;
    text-align: center;
    line-height: 1.2;
    font-family: Oswald-Regular;
}
.s_title {
    color: rgb(173,195,192);
    font-size: 20px;
    text-align: center;
}
.date {
    color: rgb(173,195,192);
}
.top {
    /*height:60px;*/
    margin: 20px 40px;
}
.intro {
    border-top: 2px solid #e0e0e0;
    color: rgb(173,195,192);
    font-style: italic;
}
.intro p {
    font-size: 16px;
    line-height: 0.5;
}
.section {
    border-bottom: 2px solid rgb(0,0,0);
    font-size: 20px;
    font-weight: 700;
    padding-top: 2em;
    padding-bottom: 1em;
    color: rgb(0,0,0);
}
.caption {
    font-style: italic;
    font-size: 14px;
    color: rgb(20,20,20);
}
.fig {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
}

.green_enl{
    color: rgb(2,191,2);
}
@font-face {
      font-family: "Oswald-Regular";
      src: url('Oswald-Regular.ttf');
    }
@font-face {
      font-family: "icomoon";
      src: url('icomoon.ttf');
    }
@font-face {
      font-family: "consola";
      src: url('consola.ttf');
    }
.temp {
    border-bottom: 2px solid rgb(0,0,0);
    font-size: 20px;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(0,0,0);
    font-style: italic;
    font-style: oblique;
}
.temp {
    float: left;
    font-size: 17px;
    font-weight: 700;
    width: 140px;
    line-height: 30px;
}

